* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e; /* Dark mode background */
  color: #fff; /* Default text color */
}

.header {
  padding: 10px;
  font-size: 1.5rem;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  flex-grow: 1;
  display: flex;
  padding: 10px;
}

.sidebar {
  width: 300px;
  background-color: #2c2c2c;
  padding: 10px;
}

.cameras-grid {
  flex-grow: 1;
  background-color: #1e1e1e;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
